# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
*.ipynb

# Misc
*.bak
*.swp

# Audio files
*.wav
*.mp3

# VS Code
.vscode/
